{% extends 'index.html' %} {% load crispy_forms_tags %} {% load thumbnail %}
{% block title %}Store{% endblock title %}
{% block content %}

<div id="carousel-example-2" class="carousel slide" data-ride="carousel">

  <ol class="carousel-indicators">
    <li data-target="#carousel-example-2" data-slide-to="0" class="active"></li>
    <li data-target="#carousel-example-2" data-slide-to="1"></li>
    <li data-target="#carousel-example-2" data-slide-to="2"></li>
  </ol>

  <div class="carousel-inner" role="listbox" style="width:100%">
    <div class="carousel-item active">
      <div class="view hm-white-slight">
        <img class="d-block w-100" src="https://wallpaperaccess.com/full/2970443.jpg" alt="First slide">
        <div class="mask"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">First title</h3>
        <p>First text</p>
      </div>
    </div>
    <div class="carousel-item">

      <div class="view hm-white-slight">
        <img class="d-block w-100" src="https://wallpapercave.com/wp/wp2044743.jpg" alt="Second slide">
        <div class="mask"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Second title</h3>
        <p>Second text</p>
      </div>
    </div>
    <div class="carousel-item">

      <div class="view hm-white-slight">
        <img class="d-block w-100" src="https://cdn.wallpapersafari.com/22/54/lErAKe.jpg" alt="Third slide">
        <div class="mask"></div>
      </div>
      <div class="carousel-caption">
        <h3 class="h3-responsive">Third title</h3>
        <p>Third text</p>
      </div>
    </div>
  </div>

  <a class="carousel-control-prev" href="#carousel-example-2" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carousel-example-2" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
  <!--/.Controls-->
</div>


</div>
</div>
</nav>

<div id="multi-item-example" class="carousel slide carousel-multi-item" data-ride="carousel" style="border:none">
  <center>
    <h1 class="font-weight-light" style="font-family: " Times New Roman", Times, serif;">Our Product</h1>
  </center>
  <!--Indicators-->
  <div class="carousel-inner" role="listbox" style="border:none">
    {% for p in  Users %}
    <!--First slide-->
    {% if forloop.counter0|divisibleby:4 %}
    <div class="carousel-item {% if forloop.counter0 == 0 %}active{% endif %}" style="border:none"> {% endif %}

      <div class="col-md-3" style="float:left" style="border:none">
        <div class="card mb-4" style="width:300px; height:300px; justify-content:center; display:flex; border:none">
          <img class="w3-round" src="{{p.image.url}}" alt="Cardimg">
        </div>
      </div>
      {% if forloop.counter|divisibleby:4 or forloop.last %}
    </div>{% endif %}
    {% endfor%}
    <!--/.First slide-->
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <h2 class="t-store__parts-switch-wrapper t-align_center">Category</h2>
    {% for i in Categorya%}
    <table>
      <tr>
        <th><a href="{{ c.get_absolute_path }}">{{ i.name}}</a></th>
      </tr>
    </table>
    {% endfor%}


    <!-- <form class="filter-form">
      {{filter.form|crispy}}
      <button class="btn btn-info btn-block btn-sm" type="submit">
        Filter
      </button>
    </form>
  </div>
</div> -->
<div class="r t-rec t-rec_pt_15 t-rec_pb_135">
  <h2 class="font-weight-light mb-2" style="text-align:center">Products</h2>

  <div class="row">
    {% for product in products %}
    <!-- <div class="col-lg-4 col-12 mb-2 px-sm-2">
      <div class="card t-store__card__imgwrapper  t-store__card__imgwrapper_1-1">
        <img src="{% thumbnail product.image 0x200 %}" alt="No Image" class="img-aspect p-2" />
        <div class="card-body">
          <h3 class="card-subtitle font-weight-light">
            <a href="{% url 'store:product_details' product.slug %}">{{product.name}}</a>
          </h3>
          <h4 class="card-text">
            <span class="badge badge-warning">Rs.{{product.price}}</span>
          </h4> -->



      <div class="col d-flex justify-content-center">
        <div class="col-sm-6">
            <div class="t-store__card__imgwrapper  t-store__card__imgwrapper_1-1" style="width: 18rem;"
              style="border:none">
              <img class="js-product-img t-store__card__bgimg t-bgimg loaded" src="{% thumbnail product.image 0x200 %}"
                alt="Card image cap">
              <div class="card-body">
                <h5 class="card-title"><a href="{% url 'store:product_details' product.slug %}">{{product.name}}</a></h5>
                <h5 class="card-title">UZS {{product.price}}</h5>
                <p class="card-text">{{product.description|truncatewords:23 }}</p>
              </div>
            </div>
        </div>
      </div>    


    {% empty %}
    
    <div class="col-12 text-center">
      <h3 class="font-weight-light my-4 py-4">No products found.</h3>
    </div>
    {% endfor %}
  </div>
{% if products|length != 0 %}
  <nav>
    {% with page_obj as page %}
    <div class="mt-2">
      <p class="my-2">
        Page {{ page.number }} of {{ page.paginator.num_pages }}
      </p>
      <ul class="pagination">
        {% if page.has_previous %}
        <li class="page-item">
          <a href="?page={{ page.previous_page_number }}" class="page-link">
            Previous
          </a>
        </li>
        {% endif %}
        <li class="page-item active">
          <a class="page-link">{{ page.number }}</a>
        </li>
        {% if page.has_next %}
        <li class="page-item">
          <a href="?page={{ page.next_page_number }}" class="page-link">
            Next
          </a>
        </li>
        {% endif %}
      </ul>
    </div>
    {% endwith %}
  </nav>
  {% endif %}
</div>
</div>  
<script> 
   document.querySelector("#div_id_price > div").className = "d-flex justify-space-between align-items-center";
  document.querySelectorAll("#div_id_price input").forEach((i) => {
    i.classList.add("form-control")
    i.style.minWidth = '10px'
  });
  document.querySelectorAll(".filter-form .form-control").forEach((i) => i.classList.add("form-control-sm"));
</script> 

{% endblock content %}