<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Invoice Order - {{order.id}}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container my-4">
      <h2 style="color:#6D0069">Order id - {{order.id}}</h2>
      <h4 class="mb-3">
        To - {{order.user.first_name|default:order.user.username}}
        {{order.user.last_name}}
      </h4>
      <h4 class="font-weight-light">{{order.address}}</h4>
      <h4 class="font-weight-light mb-3">{{order.city}}, {{order.Phone}}</h4>
      <h5 class="font-weight-light mb-4" style="color:#6D0069">Placed on {{order.created}}</h5>
      <hr />
      <table class="table table-striped mt-4">
        <thead class="table-dark">
          <tr>
            <td >Nomi</td>
            <td>Donasining narxi</td>
            <td>Soni</td>
            <td>Jami</td>
          </tr>
        </thead>
        <tbody>
          {% for o in order.items.all %}
          <tr>
            <td>{{o.product.name}}</td>
            <td>UZS.{{o.product.price}}</td>
            <td>{{o.quantity}}</td>
            <td>UZS.{{o.total}}</td>
          </tr>
          {% endfor %}
        </tbody>
        <tfoot>
          <tr>
            <td colspan="2"></td>
            <td class="text-right">Jami -</td>
            <td>
              <b>UZS.{{order.total_price}}</b>
            </td>
          </tr>
        </tfoot>
      </table>
      <h5>
        To'lov holati - {% if order.paid %}
        <span class="badge badge-success">To'langan</span>
        {% else %}
        <span class="badge badge-danger">Payment Pending</span>
        {% endif %}
      </h5>
      <h5>To'lov rejimi - etkazib berish paytida naqd pul</h5>
      <h5>Holat - {{order.status}}</h5>
    </div>
    <footer class="text-center d-print-none">
      <button class="btn btn-primary" onclick="window.print()">Chop etish</button>
      <button class="btn btn-danger" onclick="history.back()">Ortga qaytish</button>
    </footer>
  </body>
</html>
