{% extends 'index.html' %} {% block title %} Reset Link Sent {% endblock title %}
{% block content %}
<h1 class="display-4 my-4">Havolani tiklash yuborildi</h1>
<hr />
<p>
 Agar sizda hisob mavjud bo'lsa, biz sizga parolni o'rnatish bo'yicha ko'rsatmalarni elektron pochta orqali yubordik
   siz kiritgan elektron pochta bilan. Siz ularni qisqa vaqt ichida qabul qilishingiz kerak.
</p>
<p>
 Agar siz elektron pochta xabarini olmasangiz, manzilingizni kiritganingizga ishonch hosil qiling
   ro'yxatdan o'tgan va spam jildingizni tekshiring.
</p>
<a href="{% url 'login' %}" class="btn btn-primary">Login</a>
{% endblock content %}
{% block footer %} {% include 'slider.html' %}{% endblock%}